<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd">
  <servers>
    <server>
      <username>admin</username>
      <password>FirstCorp@002</password>
      <id>central</id>
    </server>
    <server>
      <username>admin</username>
      <password>FirstCorp@002</password>
      <id>snapshots</id>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>central</id>
      <name>jfrog</name>
      <url>http://artifactory-node.centralindia.cloudapp.azure.com:8081/artifactory/customer-libs-release</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
    <mirror>
      <id>snapshots</id>
      <name>jfrog</name>
      <url>http://artifactory-node.centralindia.cloudapp.azure.com:8081/artifactory/customer-libs-snapshot</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>customer-libs-release</name>
          <url>http://artifactory-node.centralindia.cloudapp.azure.com:8081/artifactory/customer-libs-release</url>
        </repository>
        <repository>
          <snapshots/>
          <id>snapshots</id>
          <name>customer-libs-snapshot</name>
          <url>http://artifactory-node.centralindia.cloudapp.azure.com:8081/artifactory/customer-libs-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>customer-libs-release</name>
          <url>http://artifactory-node.centralindia.cloudapp.azure.com:8081/artifactory/customer-libs-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots/>
          <id>snapshots</id>
          <name>customer-libs-snapshot</name>
          <url>http://artifactory-node.centralindia.cloudapp.azure.com:8081/artifactory/customer-libs-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
